html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
    padding: 0;
    margin: 0;
}

html {
    background-image: url(/static/image/grid-bg.png);
}

#box {
    display: flex;
}

#left {
    display: flex;
    flex-direction: column;
    width: calc(100% - 530px);
    height: 100%;
    min-width: 300px;
    max-width: 500px;
}

#right {
    padding-left: 10px;
    right: 0;
    height: 100vh;
    width: 600px;
    min-width:600px;
}

#user-info {
    float: left;
    height: 400px;
}

#user-info-1, #user-info-2 {
    width: 300px;
    height: 125px;
    padding-top: 75px;
    text-align: center;
    margin: 0 auto;
    background-image: url(/static/image/user-info.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 25px;
}

#chat-area {
    padding: 0 0;
    float: left;
    height: calc(100vh - 400px);
    width: 100%;
    background-image: url(/static/image/chatbox.png);
    background-size: 100% 100%;
}

#msg-area {
    height: calc(100% - 70px);
    margin: 5px 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    background-image: url(/static/image/msgbox.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#chat-msgs {
    height: 100%;
    margin: 0 0;
    padding: 0 0;
    overflow: auto;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#chat-msgs::-webkit-scrollbar {
    display: none;
}

#chat-msgs li {
    display: block;
    width: 100%;
}

#chat-msgs li .player {
    font-size: 18px;
    color: green;
}

#chat-msgs li .content {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 2px;
    color: blue;
    word-wrap: break-word; 
    word-break: normal;
}

#chat-input {
    display: flex;
    flex-direction: row;
    height: 55px;
}

#chat-box {
    height: 43px;
    margin-left: 10px;
    width: calc(100% - 50px);
    background-image: url(/static/image/msginputbox.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#chat-box input {
    font-size: 20px;
    border: hidden;
    background: transparent;
    margin-left: 5px;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#chat-submit {
    border: hidden;
    padding: 0;
    width: 50px;
    height: 43px;
    background: transparent;
}

#chat-submit img {
    width: 45px;
    float: left;
}

#game-area {
    height: 602px;
    display: flex;
}

#game-l {
    padding: 37px 20px;
    width: 240px;
    height: 528px;
    float: left;
    background-image: url(/static/image/gamebox-l.png);
    background-size:100% 100%;
}

#game-r {
    padding: 37px 20px;
    width: 240px;
    height: 528px;
    float: left;
    background-image: url(/static/image/gamebox-r.png);
    background-size:100% 100%;
}

#game-ready {
    width: 300px;
    position: absolute;
    left: 50%;
    background: transparent;
    border: transparent;
    outline: none;
}

#game-ready img {
    width: 100%;
}

#game-ready img:hover {
    width: 310px;
    margin-top: -2px;
    margin-left: -5px;
}

#game-ready img:active {
    width: 300px;
    margin: 0 0;
}

#exit {
    width: 90px;
    position: absolute;
    right: 50px;
    background: transparent;
    border: transparent;
    outline: none;
}

#exit img {
    width: 100%;
}

#exit img:hover {
    width: 100px;
    margin-top: -2px;
    margin-left: -5px;
}

#exit img:active {
    width: 90px;
    margin: 0 0;
}