<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Tetris Game Lobby</title>
<link rel="stylesheet" title="text/css" href="/static/lobby.css" />
</head>

<body>

<div class="box">
<div id="left">
	<div id="current-user">
	<ul id="user-info">
		<li>{{ current_user.username }}</li>
	</ul>
	
	<button type="button" id="logout" onclick="{location.href='{{ url_for('login.logout')}}'}">
		<img src="/static/image/logout_btn.png">
	</button>
	</div>

	<div id="playerlist">
		<p id="list_label">spare players:</p>
		<ul id="players">
		</ul>
	</div>
</div>

<div id="right">
	<div id="rooms-outline">
	<ul id="rooms">
	</ul>
	</div>
	
	<div id="newroom">
	<button type="button" id="newroom_btn">
	</button>
	</div>

	<div id="chat-area">
		<div id="msg-area">
		<ul id="chat-msgs">
		</ul>
		</div>
		<div id="chat-input">
		<div id="chat-box">
			<input type="text"></input>
		</div>
		<button type="button" id="chat-submit">
			<img src="/static/image/submit.png">
		</button>
		</div>
	</div>
</div>
</div>

<script src="/static/socket.io.js"></script>
<script src="/static/lobby.js"></script>

</body>
</html>
