<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>Sign Up</title>
<link rel="stylesheet" title="text/css" href="/static/register.css" />
</head>

<body>

<div id="signup_ico">
	<img src="/static/image/signup_ico.png" width="500">
</div>

<div id="box">
	<div id="user">
		<form class="form" method="POST">
			{{ form.hidden_tag() }}
			{{ form.username.label }}
			{{ form.username() }}
			{{ form.password.label }}
			{{ form.password() }}
			{{ form.confirm.label }}
			{{ form.confirm() }}
			{{ form.submit(value="", id="signup_btn") }}
		</form>
	</div>
</div>

<img id="loginbg" src="/static/image/login_bg.png">

</body>

</html>