{% extends "auth_base.html" %}

{% block title %}Sign Up{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Sign Up</h1>
</div>
<div class="sign_up-form">
    <form class="form" method="POST">
	    {{ form.hidden_tag() }}
	    {{ form.username.label }}{{ form.username() }}
		    {% if form.username.errors %}
		  		<ul class="errors">
		  			{% for error in form.username.errors %}
		  				<li>{{ error }}</li>
		  			{% endfor %}
		  		</ul>
		 	{% endif %}
	    {{ form.password.label }}{{ form.password(class="example_pwdclass") }}
	     {% if form.password.errors %}
		  		<ul class="errors">
		  			{% for error in form.password.errors %}
		  				<li>{{ error }}</li>
		  			{% endfor %}
		  		</ul>
		 	{% endif %}
	    {{ form.confirm.label }}{{ form.confirm() }}
	     {% if form.confirm.errors %}
		  		<ul class="errors">
		  			{% for error in form.confirm.errors %}
		  				<li>{{ error }}</li>
		  			{% endfor %}
		  		</ul>
		 	{% endif %}
	    {{ form.submit() }}
	</form>
</div>
{% endblock %}