html {
	background-image: url(image/grid-bg.png);
}

.box {
	display: flex;
}

#left {
	display: flex;
	flex-direction: column;
	left: 0;
	position: relative;
	width: 300px;
	height: 615px;
	background-image: url(image/playerlist.png);
}

#right {
	padding-left: 20px;
	right: 0;
	height: 100%;
	width: calc(100% - 300px);
	min-width: 330px;
}

#current-user {
	width: 300px;
	height: 200px;
	background-image: url(image/user-info.png);
	background-size: 300px 200px;
}

#user-info {
	padding: 0 0;
	margin: 0 0;
	width: 300px;
	height: 200px;
	text-align: center;
}

#user-info li {
	margin-top: 40px;
}

#logout {
	width: 100px;
	height: 100px;
	padding: 0;
	margin-top: -90px;
	background: transparent;
	border: transparent;
	outline: none;
	float: right;
}

#logout img {
	width: 100%;
	height: 100%;
}

#logout img:hover {
	width: 110px;
	height: 110px;
	margin-top: -5px;
	margin-left: -5px;
}

#logout img:active {
	width: 95px;
	height: 95px;
	margin-top: 2px;
	margin-left: 2px;
}

#user-info li {
	padding-top: 20px;
	display: inline-block;
	font-size: 50px;
}

#players {
	height: calc(100% - 200px);
	margin: 0 0;
	padding-top: 20px;
	padding-left: 0;
	overflow: auto;
}

#players::-webkit-scrollbar {
	display: none;
}

#players li {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 25px;
	padding-top: 10px;
	padding-left: 20px;
}

#rooms-outline {
	height: 350px;
	padding-top: 10px;
	padding-left: 5px;
	margin: 0 0;
	background-image: url(image/rooms.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#rooms {
	height: 340px;
	min-width: 300px;
	margin: 0 0;
	padding: 0 0;
	overflow: auto;
}

#rooms::-webkit-scrollbar {
	display: none;
}

#rooms li {
	padding: 0;
	margin: 10px;
	display: block;
	width: 300px;
	height: 130px;
	background-image: url(image/room_box.png);
	background-size: 100% 100%;
	float: left;
}

#rooms li button {
	background: transparent;
	border: transparent;
	width: 100%;
	height: 100%;
	font-size: 25px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#rooms li p {
	margin-top: 10px;
	margin-bottom: 25px;
}

#newroom {
	padding: 0 0;
	margin-top: -60px;
	width: 60px;
	height: 60px;
	position: absolute;
	right: 10px;
	z-index: 9999;
}

#newroom_btn {
	padding: 0 0;
	margin: 5px 5px;
	width: 50px;
	height: 50px;
	border: transparent;
	outline: none;
	background: transparent;
	background-image: url(image/newroom_btn.png);
	background-size: 100% 100%;
	background-position: center center;
}

#newroom_btn:hover {
	width: 60px;
	height: 60px;
	margin: 0 0;
}

#newroom_btn:active {
	width: 50px;
	height: 50px;
	margin: 5px 5px;
}

#chat-area {
	height: 250px;
	padding-top: 5px;
	background-image: url(image/chatbox.png);
	background-size: 100% 100%;
}

#chat-msgs {
	height: 190px;
	margin: 0 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 5px;
	background-image: url(image/msgbox.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: auto;
}

#chat-msgs::-webkit-scrollbar {
	display: none;
}

#chat-msgs li {
	display: block;
}

#chat-msgs li p {
	padding: 0 0;
	margin: 0 0;
}

#chat-msgs li .player {
	font-size: 18px;
	color: green;
}

#chat-msgs li .content {
	font-size: 20px;
	margin-left: 20px;
	margin-right: 2px;
	color: blue;
	word-wrap: break-word; 
	word-break: normal;
}

#chat-input {
	display: flex;
	flex-direction: row;
	height: 55px;
}

#chat-box {
	height: 43px;
	margin-left: 10px;
	width: calc(100% - 50px);
	background-image: url(image/msginputbox.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

#chat-box input {
	border: hidden;
	background: transparent;
	margin-left: 5px;
	width: calc(100% - 5px);
	height: calc(100% - 5px);
}

#chat-submit {
	border: hidden;
	padding: 0;
	width: 50px;
	height: 43px;
	background: transparent;
}

#chat-submit img {
	width: 45px;
	float: left;
}