.login_ico > img {
	width: 300px;
	display: block;
	margin: 0 auto;
}

.box {
	height: 300px;
	background-image: url(image/box.png);
	background-size: 500px 300px;
	background-repeat: no-repeat;
	background-position: center center;
}

.user {
	padding-top:50px;
	width: 400px;
	height: 300px;
	display: block;
	margin: 0 auto;
}

input {
	width: 400px;
	height: 50px;
	border: none;
}

label {
	
}