.login_ico > img {
	width: 300px;
	display: block;
	margin: 0 auto;
}

.box {
	height: 300px;
	background-image: url(image/box.png);
	background-size: 500px 310px;
	background-repeat: no-repeat;
	background-position: center center;
}

.user {
	padding-top: 23px;
	width: 400px;
	height: 300px;
	display: block;
	margin: 0 auto;
}

.user > label {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 25px;
}

input {
	width: 400px;
	height: 45px;
	border: none;
}

label {
	
}